*, html {
	font-family:'Roboto', sans-serif;
	margin:0;
	padding:0;
}

a img {
	border:0;
}

a {
	color: #330066;
	text-decoration: none;
}

h1 {
	padding-left: 2px;
	font-family:'Roboto Condensed', serif;
	letter-spacing:2px;
	font-size:60pt;
}

h1 span {
	padding-left: 2px;
	font-family:'Roboto Condensed', serif;
	letter-spacing:2px;
	font-size:60pt;
}

h1:hover span {
	display:none;
}
h1:hover:before {
	content:"Ömer Kılıç";
}

code {
	font-family:'Inconsolata', monospace;
}

#wrapper {
	margin-left:150px;
	margin-top:100px;
}

#links {
	margin-left:10px;
	margin-top:30px;
}

#main,#elsewhere,#previously,#contact {
	list-style:none;
}

#main li {
	padding-bottom:30px;
}

#also {
	list-style:none;
	padding-top:10px;
}

#also li {
	margin-left:3px;
	display:inline;
}

#also > li:first-child {
	margin-left:20px;
}

#elsewhere li {
	margin-left:20px;
	padding-bottom:5px;
}

#elsewhere li:before {
	content:"\00BB \0020";
}

#elsewhere > li:first-child {
	padding-top:10px;
}

#previously li {
	margin-left:20px;
	padding-bottom:5px;
}

#previously li:before {
	content:"\00BB \0020";
}

#previously > li:first-child {
	padding-top:10px;
}

#contact li {
	margin-top:10px;
	margin-left:20px;
}
